// Function
//-- Must be defined before variables
@function rem($multiplier) {
  $font-size: 10px;
  @return $multiplier * $font-size;
}

// Typography
// ------------------------------
$font-family: Roboto, 'Helvetica Neue', sans-serif !default;
$font-size:   10px;




.no-style {
  font-weight: normal;
  background-color: inherit;
  text-align: left;
  border: none;
  padding: 0;
  margin: 0;
}

// Global page styles
//
// [2] Ensure the page always fills at least the entire height of the viewport.

html, body {
  min-height: 100%; // [2]
}


$tip-bg-color : rgba(66, 66, 66, 0.8);
cd-bar-chart {

}
  .d3-tip {
    line-height: 0.5%;
    font-size: 9px;
    font-weight: bold;
    padding: 12px;
    background: $tip-bg-color;
    color: #fff;
    border-radius: 10px;
  }

  /* Creates a small triangle extender for the tooltip */
  .d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 5px;
    width: 100%;
    line-height: 1;
    color: $tip-bg-color;
    content: "\25BC";
    position: absolute;
    text-align: center;
  }

  /* Style northward tooltips differently */
  .d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
  }


$lightgray : #C9C9C9;

.cd-grouped-bar-chart {

    .panel {
        background: lighten($lightgray, 17%);
        margin-bottom: 0px;
        height: 60px;
        margin: 5px 40px;
    }
    .header-text {
        color: blue;
        font-weight: bold;
    }
    .no-data {
        padding-top: 32px;
    }
    .group-item {
        padding-top: 10px;
        font-size: 16px;
    }
    .line-color {
        height: 8px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .red-line {
        height: 8px;
        background: red;
    }
    .data-container {
        max-height: 348px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .header {
        font-size: 14px;
        padding-left: 4px;
        margin-top: -6px;
    }
    .date-team {
        padding-right: 4px;
        margin-top: -6px;
    }
    .bold-text {
        font-weight: bold;
    }
    .date {
        font-size: 12px;
        align-self: flex-end;
    }
    .team {
        font-size: 10px;
        margin-top: -2px;
        align-self: flex-end;
    }
    .data-row {
        font-size: 10px;
        margin-top: 4px;
        padding-right: 4px;
        padding-left: 4px;
    }
    .total {
        margin-top: 10px;
    }

}
cd-calendar {
    .calbtn.md-button {
        border-radius: 50%;
        height: 36px;
        width: 48px;
        min-height: 36px;
        max-height: 36px;
        min-width: 48px;
        max-width: 48px;
    }

    .calbtn.md-button:not([disabled]):hover {
        border-radius: 50%;
    }

     .hider {
        position: fixed;
        padding: 0;
        float:left;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: default;
        width: 100vw;
        height: 100vh;
        background: rgba(255, 255, 255, 0);

        z-index: 900;
        
    }
    
    .hider:focus{
        outline: none;
        border: 0;
    }
    
    .input-blocker{
        position: absolute;
        min-width:100%;
        min-height: 32px;
        z-index: 2;
    }
    
    .input-blocker:focus{
        outline: none;
        border: 0;
    }
    
    input{
        z-index: 1;
    }
    
    .container {
        padding: 0 0;
        margin: 0 0;
        width: 100%;
        position: relative;
    }
    .panel {
        position: absolute;
        z-index: 1000;
        background: white;
        margin-top: 32px;
        top: -5px;
    }
    
    .yearbtn {
        font-size: 1.2em;
        color: blue;
    }
    .arrowmargin {
        margin-top: 6px;
    }
    .yearrow {
        background: lightgray;
    }

}
